@import url("quasi-counter.css");

*{
    box-sizing: border-box;
}

html{
    font-family: "Cormorant Infant", Georgia, serif;
}

*[lang="jp"]{
   font-family: "New Tegomin", serif;
   writing-mode: vertical-rl;
}

@media (hover:hover){
    #home button:hover{
        /* background: linear-gradient(to right,#FFD700,20%,transparent); */
        background: linear-gradient(to right,#FFD700ff,20%,#FFD70000);
        border-bottom:1px solid #bda106;
        transform: translateX(10px)
    }

    .hanafudaCards:hover{
        /* outline: red solid 2px; */
        box-shadow: 0 0 3px 3px #476580;
        z-index:99;
    }
    .yesButton:hover{
        text-shadow: #1CAC78 4px 3px 5px;
    }
    .noButton:hover{
        text-shadow: #F2003C 4px 3px 5px;
    }
    .endButton:hover{
        text-shadow: #83adbb 4px 3px 5px;
    }
    
}

a[target="_blank"]::after{
    content:"";
    display:inline-block;
    background-image: url(../assets/icon/externalLink_20.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:0.7em;
    aspect-ratio: 1;
    margin-left: 0.3rem;
    vertical-align: middle;
}
button > a{
    text-decoration: none;
    color:inherit;
}

/*buttonLike class refers to img/other elm used as button*/
:is(.buttonLike,button){
    cursor: pointer;
}

body{
    margin:auto;
    height: 97dvh;
    width: min(95vw, 1000px);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-shadow:0 0 1rem gray;
    filter: brightness(1);
}

#home{
    z-index:5;
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20%;
    align-items: start;
    justify-items: start;
    padding: 2rem;
    background-color:#fcd7dd;
    background-size:30%;
    background-repeat: repeat-x;
    background-image:url(../assets/textures/sakura_fubuki.png);
    animation-name: sakura;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}

@keyframes sakura{
    0%{background-position:0% -25%;}
    50%{background-position:15% 70%;}
    100%{background-position:5% 150%;}
}

@media screen and (min-width:650px){
    #home{
        background-size:25%;
    }
}

#home #homePageGraphics{
    position: relative;
    border:2px ridge red;
}


#home #homeMenu{
    display:flex;
    flex-flow:column wrap;
    column-gap:1rem;
    row-gap:1rem;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    padding-left: 1.5rem;
}

/* For some reason the linear-gradient to transparent won't work properly in Firefox. 
    Have to use same colors, but w/ ff --> 00 (hex color code suffix) alpha value */

#home button{
    /* background: linear-gradient(to right,plum,20%,transparent); */
    background: linear-gradient(to right,#DDA0DDff,20%,#DDA0DD00);
    border:transparent;
    border-bottom:1px solid #FFD700;
    font-size: 1.2rem;
    font-family: "Cormorant Infant", Georgia, serif;
    text-transform: uppercase;
    text-align: left;
}

:is(.newYakuNotification, #gameOptionDialog, #koiKoiDialog){
    font-size: clamp(14px,1rem,20px);
    border-color:#4C8451;
    background-color:#77ba7d;
    /* max-width: 85vw; */
}
:is(.newYakuNotification, #gameOptionDialog, #koiKoiDialog)::backdrop{
    background-color: rgba(255,183,197,0.6);
}
:is(.newYakuNotification, #gameOptionDialog, #koiKoiDialog) fieldset{
    border:1px solid #A0764B;
    background-color: #E6D3B5;
    margin: 1rem;
}
:is(.newYakuNotification, #gameOptionDialog, #koiKoiDialog) legend{
    border: 1px solid #A0764B;
    background-color: #D3BD92;
    padding: .5rem 0;
}
#roundSummaryYaku > .roundResultText{
    padding:2px;
    border:1px solid #A0764B;
    background-color: #E6D3B5;
    
}
.roundResultText > .highlights{
    color:#CC5500
}

:is(.yesButton,.noButton,.endButton){
    background-color: #FCD7DD00;
    margin-inline-end: 1.5rem;
    border:none;
    font-size: 1em;
    font-family: inherit;
}
:is(.yesButton,.noButton,.endButton):active{
    font-weight: bold;
}
.yesButton{
    color: #018749;
}
.noButton{
    color: #EF0107;
}

/*main or game area styles*/
#cardMovementLayer{
    z-index:1;
    grid-area: 1 / 1 / -1 / -1;
    position: relative;
}

#cardMovementLayer > .hanafudaCards{
    position: absolute;
}

main{
    container-name: mainBox;
    container-type: size;
    z-index:0;
    grid-area: 1 / 1 / -1 / -1;
    background-color: #fce1fb;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    align-items: stretch;
    justify-items: stretch;
}

main > .areaField{
    container-name: cardsize;
    container-type: size;
    padding:.8rem;
    background-color: #E6D3B5;
    /* background-color: #f0e0c7; */
    /* background-image: url(../assets/textures/paper.png);
    background-repeat: repeat;
    background-blend-mode: luminosity; */
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    place-items: center center;
}

.areaField > #deck{
    margin-right: 1rem;
    position:relative;
}

#deck > .hanafudaCards{
    position:absolute;
}

.areaField > #deck::after{
    position: absolute;
    bottom:0%;
    right:0%;
    /* transform:translate(2px,2px); */
    content:"山札";
    border:1px solid #DDA0DD;
    background-color: #fce1fb;
}

.areaField > #table{
    /* display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row; */ 
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    column-gap:.5rem;
    row-gap:.5rem;
    overflow: auto;
    padding:2px;
}

main > .areaHand{
    container-name: cardsize;
    container-type: size;
    padding: .8rem .5rem 0 2rem; /*Left added 0.8rem To fit the areaHand ::before*, right -0.5 to give more space*/
    background-color:#77ba7d;
    /* background-image: linear-gradient(to right,#1d3a31,#2f522e,#587544,#cdc082); */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    row-gap:0.6rem;
    column-gap: 1rem;
    overflow: auto;
    position: relative;
}

.areaHand::before{
    width:max-content;
    position:absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(to bottom,#4E718F,#8BB7C2ff,#8BB7C202);
    content: attr(data-playername)'  'attr(data-points)' 文';
    font-size:1rem;
    font-family: "New Tegomin", serif;
    writing-mode: vertical-rl;
    padding-inline-start: 5px;
} 

.hand{
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    position: relative;
    margin-right:.8rem;
    min-height: 2.5rem;
    /* this prevented the element form collapsing totally when no more hand cards, which will cause ::after to display wiredly */
}

.hand::after{
    width:max-content;
    position:absolute;
    top:0%;
    left: 100%;
    background-image: linear-gradient(to bottom,#d5a067,#d5b07f,#decba2);
    content: '手札';
    font-size:.85rem;
    font-family: "New Tegomin", serif;
    writing-mode: vertical-rl;
    padding-inline: 5px;
} 

.captured{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position:relative;
    backdrop-filter: invert(50%);
}

/* .captured::after{
    content:"24";
    font-size: .75rem;
    margin-left:.2px;
    position: absolute;
    left:100%;
    bottom:0%;
} */


.captured > .hanafudaCards{
    grid-area: 1 / 1 / -1 / -1;
    margin-left:calc(15px * (var(--index) - 1));
}

.hanafudaCards{
    /* border:1px solid black; */
    width:70px;
    aspect-ratio:0.6;
    display:inline-block;
    /*Original svg from wikipedia is 512 x 839 px.*/
    background-color: #696969;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/*All Kinds of Animation Classes*/
.picked{
    outline: #00637C solid 2px;
}

.possibleMatch{
    outline:#6060C0ff solid 2px;
    animation-name: flashingOutline;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flashingOutline{
    from{outline:#6060C0ff solid 2px;}
    to{outline:#6060C000 solid 2px;}
}

.shiftBlack{
    animation-name: fadeToBlack;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes fadeToBlack{
    from{filter:brightness(100%);}
    to{filter:brightness(0%);}
}

.shiftWhite{
    animation-name: fadeIntoWiew;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: 1;
}

@keyframes fadeIntoWiew{
    from{filter:brightness(0%);}
    to{filter:brightness(100%);}
}

.fadeIn{
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-delay: (var(--index) * 0.5s);
    animation-duration: 1s;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

.finalPoint{
    border: 2px solid #2d3d54;
    background-image: linear-gradient(to bottom,#4d6780,#a6b191);
    margin-block: 1rem;
    margin-inline: 0;
    position:relative;
}

.finalPoint.winner{
    border: 2px solid #842e15;
    background-image: linear-gradient(to bottom,#ca887a,#d7bca1);
}

.finalPoint > p{
    margin-block: 0;
    padding-inline-start: 5px;

}

.finalPoint.winner::before{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(50%, 50%);
    padding-inline: 5px;
    content: "勝";
    background-color:#d8b07b;
    border: 1px solid #cc8140;
}

#gameSummaryDialog{
    font-size: clamp(14px,1rem,20px);
    border-color: #23354e;
    background-color: #e4d7b4;
    background-image:  radial-gradient(farthest-side at top right,#d4a670,#dac89e);
}
#gameSummaryDialog > p{
    font-size: 1.1rem;
    color:#0e1d33;
    margin-block-start: 0;
}

#gameSummaryDialog > .endButton{
    color:#0e1d33;
    font-size: 1.2rem;
    /* font-family: inherit;
    border: 2px solid #23354e;
    background-color: #ddca9f;
    padding-inline: 0.5rem; */
}

#gameSummaryDialog::backdrop{
    background-color: #e1a3833d;
    backdrop-filter:blur(5px);
}

@container cardsize (width >= 860px){
    .hand{
        column-gap: .8rem;
    }
    .hanafudaCards{
        width:70px;
        background-color: seagreen;
    }
    .captured > .hanafudaCards{
        margin-left:calc(15px * (var(--index) - 1));
    }
}

@container cardsize (760px <= width < 860px){
    .hand{
        column-gap: .5rem;
    }
    .hanafudaCards{
        width:68px;
        background-color: palegreen;
    }
    .captured > .hanafudaCards{
        margin-left:calc(12px * (var(--index) - 1));
    }
}

@container cardsize (710px <= width < 760px){
    .hand{
        column-gap: .4rem;
    }
    .hanafudaCards{
        width:65px;
        background-color: skyblue;
    }
    .captured > .hanafudaCards{
        margin-left:calc(9px * (var(--index) - 1));
    }
}

@container cardsize (610px <= width < 710px){
    .hand{
        column-gap: .2rem;
    }
    .hanafudaCards{
        width:60px;
        background-color: paleturquoise;
    }
    .captured > .hanafudaCards{
        margin-left:calc(7px * (var(--index) - 1));
    }
}

@container cardsize (510px <= width < 610px){
    .hand{
        column-gap: .15rem;
    }
    .hanafudaCards{
        width:55px;
        background-color: salmon;
    }
    .captured > .hanafudaCards{
        margin-left:calc(5px * (var(--index) - 1));
    }
}

@container cardsize (410px <= width < 510px){
    .hand{
        column-gap: .15rem;
    }
    .hanafudaCards{
        width:45px;
        background-color: lavender;
    }
    .captured > .hanafudaCards{
        margin-left:calc(5px * (var(--index) - 1));
    }
}

@container cardsize (310px <= width < 410px){
    .hand{
        column-gap: .15rem;
    }
    .hanafudaCards{
        width:40px;
        background-color: pink;
    }
    .captured > .hanafudaCards{
        margin-left:calc(5px * (var(--index) - 1));
    }
    .areaField > #table{
        gap:.2rem;
    }
}

@container cardsize (width < 310px){
    .hand{
        column-gap: .1rem;
    }
    .hanafudaCards{
        width:30px;
        background-color:wheat;
    }
    .captured > .hanafudaCards{
        margin-left:calc(3px * (var(--index) - 1));
    }
    .areaField > #table{
        gap:.15rem;
    }
}

@media screen and (max-width:1000px) and (orientation:landscape) and (aspect-ratio > 1.7){
    main > #handCPU{
        grid-area:cpu;
    }
    main > #handField{
        grid-area:field;
    }
    main > #handPlayer{
        grid-area:player;
    }
    main{
        grid-area: 1 / 1 / -1 / -1;
        background-color: #fce1fb;
        display: grid;
        grid-template-areas:
        "field player"
        "cpu player";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: stretch;
        justify-items: stretch;
    }
    #home{
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 30%;
        grid-template-rows: 1fr;
        align-items: end;
        justify-items: start;
    }
    #home #homeMenu {
        padding-left:0;
    }
}